<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>
<% @restaurant.reviews.each do |review|%>
  <p>Commentaire : <%= review.content %></p>
  <p>Note :<%= review.rating %></p>
<% end %>

<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
<%= link_to 'Back', restaurants_path %>
